#aka {
   font-family: Ubuntu;
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   vertical-align: middle;
   text-align: center;
}

.slider {

   -webkit-appearance: none; 
   width: 90%;
   height: 25px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.75;
   -webkit-transition: .5s;
   transition: opacity .5s;
 }

 .slider:hover {
   opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 25px;
   height: 25px;
   background: black;
}

.button {
   outline: none; 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   padding: 15px 32px;
   font-family: Ubuntu;
   font-size: 20px;
   background-color: white;
   border: 2px solid black;
}
